<!-- views/cars_list.ejs  -->
<!-- RECEIVES: cars [an array of car objects] + flashMessage [string, the error message] -->
<%- include("partial_headers.ejs"); %>

<h1>Discover your choices:</h1>
<% if (flashMessage) { %>
    <p style="color:red, text-align= center"><%= flashMessage %></p>
<% } %>

<main>

    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for (var c of choice){ %>
                <% for (var e of excursion){ %>
                    <% if (e.Excursion_id == c.Excursion_id){ %>
                        <div class="col">
                            <div class="card shadow-sm">
                            <h3><%= e.Name %></h3>
                            <img src="<%= e.Image %>" style="width: 34%, text-align= center">
                        
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href=""><button type="button" class="btn btn-sm btn-success">Select</button></a>
                                    &ensp;
                                    <a href='/choice/del-choice/<%= c.Choice_id %>'><button type="button" class="binbutton">🗑️</button></a>
                                </div>
                               
                                <small class="text" style="font-weight: bold;"><%= e.Duration_time %> Hours</small>
                                </div>
                            </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
      </div>
    </div>
  </div>

</main>

<%- include("partial_footers.ejs"); %>



